@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
.footer-container{
    background-color: #24262b;
    height: 300px;
    text-transform: capitalize;
}
.footer-main{
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 48px;
}
.footer-main img{
  width: 160px;
  display: block;
  align-self: center;
 padding-bottom: 32px;
}
.footer-links{
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}
.footer-col{
    width: 20%;
    display: inline;
}



.footer-links a{
    color: #bbbbbb;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-left: 5px;
}
.footer-main li{
    list-style: none;
    font-size: 16px;
    transition: all 0.3s ease;
}
.footer-copy{
    background-color:rgba(52, 52, 52, 1) ;
    line-height: 48px;
    width: 100%;
    text-align: center;
}
.footer-container li:hover,.footer-container li:hover>a{
    transform: translateX(5px);
    color: white;
}
.footer-copy p{
    color:white;
}

.social-Media li{
      display: inline;
      word-wrap: normal;
}
.social-Media i{
   font-size: 24px;
   margin: 3px;
}
.social-Media i:hover{
    transition: all 0.3s ease;
    color: white;
}
@media  screen and (max-width:500px){   
    .footer-container{
        display: block;
        overflow: none;
        height: max-content;
    }
    .footer-main{
        background-color: #24262b;
    }
    .footer-col{
      width: 100%;
    }
    .footer-col li{
        border-bottom: 2px solid #2b2a2a;
    }
}
.footer-container .back-top{
    position: absolute;
    right: 40px;
    width: 40px;
}
.footer-container span{
    color: white;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 50%;
}
