@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
.footer-container{
    position:relative;
    background-color: #24262b;
    background-color: rgb(10,21,53);
    min-height: 300px;
    text-transform: capitalize;

}
.row{
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 20px;

}
.row img{
  width: 160px;
  display: block;
  padding-bottom: 32px;


}
.footer-links{
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}
.footer-col{
    width: 33%;
    display: inline-block;
}



.footer-links a{
    color: #bbbbbb;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-left: 5px;
    line-height: 2;
}
.row li{
    list-style: none;
    font-size: 16px;
    transition: all 0.3s ease;
}
.footer-copy{
    background-color:rgba(52, 52, 52, 1) ;
    line-height: 48px;
    width: 100%;
    text-align: center;
    

}
.footer-container li:hover,.footer-container li:hover>a{
    transform: translateX(5px);
    color: white;
}
.footer-copy p{
    color:white;
}

.social-Media li{
      display: inline;
      word-wrap: normal;
}
.social-Media i{
    font-size: 24px;
   margin: 3px;
}
.social-Media i:hover{
    transition: all 0.3s ease;
    color: white;
}
.back-top{
    position: absolute;
    right: 20px;
}
.footer-container .back-top span{
    font-size: 40px;
    border: 2px solid white;
    color: white;
    border-radius: 50% ;
   transition: all 0.3s ease;
}
.footer-container .back-top span:hover{
    background-color: white;
    color: rgb(10,21,53);
}
.address h4{
    color: #bbbbbb;
    padding-bottom: 8px;

}
.address p{
    color: #bbbbbb;
}
.address span{
    color: white;
    font-size: 20px;
}
.row .address{
    width: 100%;
    max-width: 300px;
    display: inline-block;
}
.mailPhone a{
    text-decoration: none;
    display: inline-block;
    width: 70%;
    color: #bbbbbb;
    text-transform: none;
    transition: all 0.3s ease;
}
.mailPhone a:hover{
    color: white;
}
.mailPhone span{
    font-size: 20px;
    position: relative;
    top: 3px;
    padding: 8px 8px 8px 0px;
    color: #bbbbbb;
}
@media  screen and (max-width:500px){   
    .footer-container{
        display: block;
        overflow: none;
        height: max-content;
    }
    .footer-col{
      width: 100%;
    }
    .footer-col li{
        border-bottom: 2px solid #2b2a2a;

    }

    


}