@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


:root{
    --primary-button : #1e90ff ;
    --secondary-buttton : #263238;
    --logo-blue : #085CFF;
    --link-color : #36D1DC;
    --illustration-color : #FF725E;
    --even-section-color : #f0f0f0;
    --card-color:#ffff;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(85, 85, 82);
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;

}

.noselect{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 .menuactive{
    overflow: hidden;
}
.blurbody{
    position: fixed;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 1;
    
}

/* ........................Header styles........................ */

header{
    display: block;
    width: 85%;
    margin: 0 auto;
    text-align: left;
     
}


header nav{
    padding: 20px 0;
    background-color: transparent;
    display: flex;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}
.logo{
    width: 30%;
}
.logo img{
    margin-left: 70px;
}
.menuUl{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header nav img {
    width: 10rem;
}
header nav ul li{
    list-style: none;
    color: black;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: var(--link-color);
}
    
button{
    position: relative;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5  51%, #36D1DC  100%);
    transition: 0.5s;
    background-size: 200% auto;           
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 6rem;
    font-size: 1rem;
    padding: 7px 10px 7px 12px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    word-wrap: none;
  }

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

button i{
    color: #fff;
    position: absolute;
    font-size: 0.7rem;
    top: 55%;
    transform: translateY(-50%);
    right: 12%;
}
.btn:hover>i{
    right: 10%;
}






/* ..................................About Section.......................... */

section{
    display: block;
    height: 100vh;
    width: 85%;
    margin: 0 auto;
}
/*............................SECTION-1......................................*/
.sec-1  , .sec-3 , .sec-4{
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
.sec-1{
    height: 90vh;
}

.left-box{
    grid-area: left;
    display: flex;
    flex-direction: column;
}
.left-box h1{
    word-wrap: break-word;
    display: block;
    max-width: 31.35rem;
    margin: 150px 70px 0 70px;
    float: left;
    font-size: 4.35rem;
}
.sec-1 .left-box span{
    display: inline-block;
    width: 95px;
    margin-left: 70px;
    margin-top: 70px;
}

.right-box{
    grid-area: right;
    position: relative;
    width: 100%;

}
.right-box img , .left-box img{
    height: 100%;
    width: 100%;
}





/*............................SECTION-2......................................*/


.sec-2{
    background-color: var(--even-section-color);
    display: flex;
    flex-wrap: wrap;
}
.sec-2 h1{
    display: block;
    font-size: 3.7rem;
    margin: auto;
    text-align: center;
    width: 100%;
}
.sec-2 .box{
    background-color: var(--card-color);
    width: 25%;
    height: 70vh;
    margin: auto;
    margin-bottom: 90px;
    transition: 0.25s;
}

.sec-2 .box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px rgb(195, 195, 195);
}

.sec-2 .box img{
    display: block;
    max-height: 180px;
    max-width: 180px;
    padding: 30px;
    background-color: rgb(121, 237, 255);
    border-radius: 50%;
    margin: 30px auto;
}


.sec-2 .box h3 {
    text-align: center;

}
.sec-2 .box p {
    display: block;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    word-wrap: break-word;
}


/*...............................SECTION - 3 ..........................*/

.sec-3{
    height: 100vh;
}
.sec-3 .left-box{
    background-color: transparent;
}
.sec-3 .left-box h1{
    display: block;
    margin-top: 160px;
    width: 50%;
    height: auto;
    font-size: 3.7rem;
}
.sec-3 .left-box p{
    display: inline-block;
    width: 50%;
    margin: 40px auto 0px 70px;
    font-size: 1.3rem;
    overflow-wrap: break-word;
}
.sec-3 .left-box p span{
    color: #36D1DC;
}
.sec-3 .right-box{
    position: relative;
}
.sec-3 .right-box .brand-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 90%;
    height: 80%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sec-3 .right-box img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px 40px;
}


/*................................SECTION - 4 .......................................*/

.sec-4{
    height: 100vh;
}
.sec-4 .left-box img{ 
    display: block;
    height: 60%;
    width: 70%;
    margin: 0 auto;
}
.sec-4 .left-box h1{
    margin-top: 120px;
    width: auto;
    height: auto;
}



/*...............................SECTION 5..............................*/

.sec-5{
    height: 100vh;
    background-color: var(--even-section-color);
    position: relative;
}

.sec-5 h1{
    display: block;
    width: fit-content;
    font-size: 3.7rem;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50% , -50%);
}

.sec-5 .card-box{
    display: flex;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.sec-5 .card{
    background-color: var(--card-color);
    width: 23%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sec-5 .card:hover{
    box-shadow: 0 0 10px 2px rgb(195, 195, 195);
}
.sec-5 .card img{
    display: block;
    width: 140px;
    height: 140px;
    margin-bottom: 50px;
}
.card a{
    text-decoration: none;
    margin: 10px;
}
.card .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}














/* -----------------responsive--------------------- */
.menu-bar{
    display: inline;
    position: absolute;
    top: 20px;
    right: 80px;
    display: none;
    cursor: pointer;
    z-index: 2;
  }
  header  .menu-bar .open ,header .menu-bar .close{
    position: absolute;
     height: 30px;
     display: none;
  }

  @media only screen and (max-width: 1203px){
    .sec-1 h1{
       font-size: 3.7rem;
    }
    .sec-3 .right-box img{
        margin: 10px 15px;
    }
    .sec-3 .left-box h1{
        font-size: 3rem;
    }
    .sec-3 .left-box p{
        font-size: 1.2rem;
    }
    
  }

@media only screen and (max-width: 1130px) {
    .sec-1 h1{
        margin-top: 90px;
        font-size: 3.3rem;
    }
    .sec-1 img{
        max-width: 500px;
        max-height: 500px;
    }
    
    .sec-3 .right-box img{
        margin: 10px;
    }
    .sec-3 .left-box h1{
        margin-top: 80px;
    }
}
@media only screen and (max-width: 960px){
    .sec-1 h1{
        font-size: 2.5rem;
    }
    .sec-2 img , h3 , p{
        transform: scale(0.7);
    }
    .sec-3 .left-box h1{
        font-size: 2rem;
    }   
    .sec-3 .left-box p {
        margin-top: 10px;
        float: left;
    }
    .sec-3 .right-box img{
        margin: 0;
        scale: 0.6;
    }
    .sec-4 .left-box h1{
        font-size: 3rem;
        margin-top: 70px;
    }
    
    .sec-4 .left-box img{
        height: 300px;
        width: 300px;
    }

    .sec-4 .right-box .contact .form{
        top: 30%;
        transform: scale(0.8) translate(-60% , -50%);
        max-width: 400px;
    }

}


  @media only screen and (max-width: 805px) {
        .menu-bar, header .menu-bar .open{
            display: block;
        }
        header{
            text-align: left;
        }
        header nav{
            display: block;
            padding: 5px;
        }
        header nav .menuUl{
            display: block;
            overflow: hidden;
            height: 100%;
            background-color: #fff ;
            position: fixed;
            right: 0px;
            width: 0px;
            text-align: center;
            z-index: 1;
            top: 0px;
        }
        header .menuUl.active{
        transition: all 0.2s ease-in-out;
            width: 60%;
        }
        .menuUl button{
            display: block;
            margin: auto;
        }
        .menuUl button i{ 
    display: none;
 
        }
        .menuUl ul{
            display: block;
            margin: 40px auto 20px auto;
        }
        header ul li{
            display: inline-block;
            font-size: 16px;
            width: 60%;

            line-height: 2;
            text-align: center;
        }
        header .menu-bar.\.active .open, header .menu-bar .close{
        display: none;
    }
    header .menu-bar .\.active .close, header .menu-bar .open{
        display: block;
    }

    .sec-1 {
        display: flex;
        flex-direction: column;
    }
    .sec-1 .left-box span{
        display: none;
    }
    .sec-1 .right-box img{
        margin-top: -50px;
        transform: scale(0.7);
    }
    .sec-2 h1{
        font-size: 3rem;
    }
    .sec-3 .right-box .brand-box img{
        transform: scale(0.7);
    }
    .sec-5 .card-box .card img{
        transform: scale(0.7);
    }
  }

  @media only screen and (max-width: 500px) {
    h1{
        display: block;
        margin: auto;
        margin-top: -20px;
        width: auto;
        height: auto;
        font-size: 1rem;

    }
    header{
        width: 100%;

    }
    .logo img{
        margin-left: 15px;
    }
    section{
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .sec-1{
        height: auto;
    }
    .sec-1 h1{
        margin: 40px 15px 5px 15px;
        margin-top: 40px;
        text-align: center;
    }
    .sec-1 .right-box img{
        margin-top: -10px;
        transform: none;
        width: 100%;
        height: 100%;
    }
    .sec-2{
        height: auto;
        padding-bottom: 50px;
    }
    .sec-2 h1{
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .sec-2 .box {
        width: 85%;
        margin: 10px auto;
        height: auto;
        padding: 10px 0px;
    }
    .sec-3{
        display: flex;
        width: 85%;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sec-3 .left-box{
        width: 100%;
    }
    .sec-3 .left-box h1{
        font-size: 2rem;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 85%;
        text-align: center;
    }
    .sec-3 .left-box p{
        font-size: 1rem;
        width: 85%;
        margin: auto;
    }
    .sec-3 .right-box {
        width: 100%;
        height: 550px;
    }
    .sec-5{
        height: auto;
        padding-top:20px ;
        padding-bottom: 20px;
    }
    .sec-5 h1{
        position: relative;
        left: 0px;
        top: 0px;
        width: 85%;
        transform: translate(0% ,0%);
        margin: auto;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .sec-5 .card-box{
        position: relative;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        left: 0px;
        top: 0px;
        transform: translate(0%,0%);
        width: 85%;
        margin: auto;
    }
    .sec-5 .card{
        width: 85%;
        margin-top:5px ;
        margin-bottom:20px ;
        padding: 20px 0px;
    }
    .sec-5 .card img{

        transform: scale(0.7);
        margin-bottom: 0px;
    }
    .sec-4 {
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .sec-4 .left-box img{
       display: none;  
    }
    .sec-4 .left-box h1 {
        display: block;
        margin: auto;
        margin-top: 20px;
        
    }
    .sec-4 .right-box .contact .form{
        display: block;
        position: relative;
        height: auto;
        transform: translate(0%,0%);

    }
    .sec-4 .contact form{
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0% , 0%);
        margin: auto;
    }

   
  }


