*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish" , sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline;
}
 /* <AppBar position="fixed"  color="primary"
                sx={{ top : "auto", bottom : 0 ,
                display : {xs : "block" , md : "none" , sm : "none"},
                boxShadow : "none" ,
                
                }}
            >
                <Toolbar sx={{
                    display : "flex",
                    gap : "6vw" ,
                    alignItems : "center",
                    justifyContent : "center",
                    overflow : "auto"
                }}> 


                <Link href="#" underline="none" >
                    <IconButton sx={{fontSize : "1rem" , display : "flex" , flexDirection : "column" , color : "#fff"}}>
                        <HomeIcon />
                        <p>Home</p>
                    </IconButton>
                </Link>
                <Link href="#" underline="none">    
                    <IconButton sx={{fontSize : "1rem" , display : "flex" , flexDirection : "column" , color : "#fff"}}>
                        <ShoppingBagIcon />
                        <p>Stores</p>
                    </IconButton>
                </Link>
                <Link href="#" underline="none">    
                    <IconButton sx={{fontSize : "1rem" , display : "flex" , flexDirection : "column" , color : "#fff"}}>
                        <SellIcon />
                        <p>Coupons</p>
                    </IconButton>
                </Link>
                <Link href="#" underline="none">    
                    <IconButton sx={{fontSize : "1rem" , display : "flex" , flexDirection : "column" , color : "#fff"}}>
                        <ShareIcon />
                        <p>Refer</p>
                    </IconButton>
                </Link>    
                    <IconButton sx={{fontSize : "1rem" , display : "flex" , flexDirection : "column" , color : "#fff"}} onClick={() => {
                    setOpenDrawer(!openDrawer)
                }}>
                        <MenuOpenIcon />
                        <p>Menu</p>
                    </IconButton>
                </Toolbar>
            </AppBar> */
