@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


:root{
    --primary-button : #1e90ff ;
    --secondary-buttton : #263238;
    --logo-blue : #085CFF;
    --link-color : #36D1DC;
    --illustration-color : #FF725E;
    --even-section-color : #f0f0f0;
    --card-color:#ffff;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(85, 85, 82);
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;

}

.noselect{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ........................Header styles........................ */

header{
    display: block;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

header nav{
    padding: 20px 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
header nav img {
    width: 10rem;
}
header nav ul li{
    list-style: none;
    color: black;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: var(--link-color);
}
    
button{
    position: relative;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5  51%, #36D1DC  100%);
    transition: 0.5s;
    background-size: 200% auto;           
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 6rem;
    font-size: 1rem;
    padding: 7px 10px 7px 12px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    word-wrap: none;
  }

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

button i{
    color: #fff;
    position: absolute;
    font-size: 0.7rem;
    top: 55%;
    transform: translateY(-50%);
    right: 12%;
}
.btn:hover>i{
    right: 10%;
}






/* ..................................About Section.......................... */

section{
    display: block;
    height: 100vh;
    width: 85%;
    margin: 0 auto;
}
/*............................SECTION-1......................................*/
.sec-1 , .sec-2 , .sec-3 , .sec-4{
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
.sec-1{
    height: 90vh;
}

.left-box{
    grid-area: left;
    display: flex;
    flex-direction: column;
}
.left-box h1{
    display: block;
    max-width: 31.35rem;
    max-height: 50%;
    margin: 150px 70px 0 70px;
    float: left;
    font-size: 4.35rem;
}
.sec-1 .left-box span{
    display: inline-block;
    width: 95px;
    margin-left: 70px;
    margin-top: 50px;
}

.right-box{
    grid-area: right;
    position: relative;
    width: 100%;

}
.right-box img , .left-box img{
    height: 100%;
    width: 100%;
}





/*............................SECTION-2......................................*/


.sec-2{
    background-color: var(--even-section-color);
    display: flex;
    position: relative;
}
.sec-2 h1{
    position: absolute;
    font-size: 3.7rem;
    top: 8%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sec-2 .box{
    background-color: var(--card-color);
    width: 23%;
    height: 70vh;
    margin: auto;
    margin-bottom: 90px;
    transition: 0.25s;
}

.sec-2 .box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px rgb(195, 195, 195);
}

.sec-2 .box img{
    display: block;
    height: 180px;
    width: 180px;
    padding: 30px;
    background-color: yellow;
    border-radius: 50%;
    margin: 30px auto;
}
.sec-2 .box h3 {
    text-align: center;
}
.sec-2 .box p {
    display: inline-block;
    width: 80%;
    margin: 20px 30px;
    text-align: center;
    word-wrap: break-word;
}


/*...............................SECTION - 3 ..........................*/

.sec-3{
    height: 100vh;
}
.sec-3 .left-box{
    background-color: transparent;
}
.sec-3 .left-box h1{
    display: block;
    margin-top: 160px;
    width: 50%;
    height: auto;
    font-size: 3.7rem;
}
.sec-3 .left-box p{
    display: inline-block;
    width: 50%;
    margin: 40px auto 0px 70px;
    font-size: 1.3rem;
    overflow-wrap: break-word;
}
.sec-3 .left-box p span{
    color: #36D1DC;
}
.sec-3 .right-box{
    position: relative;
}
.sec-3 .right-box .brand-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 90%;
    height: 80%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sec-3 .right-box img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px 40px;
    
}


/*................................SECTION - 4 .......................................*/

.sec-4{
    height: 100vh;
}
.sec-4 .left-box img{
    display: block;
    height: 60%;
    width: 70%;
    margin: 0 auto;
}
.sec-4 .left-box h1{
    margin-top: 120px;
    width: auto;
    height: auto;
}



/*...............................SECTION 5..............................*/

.sec-5{
    height: 100vh;
    background-color: var(--even-section-color);
    position: relative;
}

.sec-5 h1{
    display: block;
    width: fit-content;
    font-size: 3.7rem;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50% , -50%);
}

.sec-5 .card-box{
    display: flex;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.sec-5 .card{
    background-color: var(--card-color);
    width: 23%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sec-5 .card:hover{
    box-shadow: 0 0 10px 2px rgb(195, 195, 195);
}
.sec-5 .card img{
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}
.card a{
    text-decoration: none;
    margin: 10px;
}
.card .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -----------------responsive--------------------- */
.menu-bar{
    display: inline;
    position: absolute;
    top: 20px;
    right: 80px;
    display: none;
    cursor: pointer;
  }
  header  .menu-bar .open ,header .menu-bar .close{
    position: absolute;
     height: 30px;
     display: none;
  }
  @media only screen and (max-width: 600px) {
    .menu-bar, header .menu-bar .open{
        display: block;
    }
    header nav ul{
        display: block;
        overflow: hidden;
        line-height: 1;
        height: 100%;    
        border-radius: 5px;
        background-color: #fff ;
        position: fixed;width: 0px;
    }
    header ul.active{
        width: 100%;
        height: 100%;
    }
    ul li{
        display: block;
        font-size: 25px;
        border-radius: 5px;
        text-align: left;
    }
    header .menu-bar.\.active .open, header .menu-bar .close{
      display: none;
  }
  header .menu-bar.\.active .close, header .menu-bar .open{
      display: block;
  }
  button {
    display: none;
  }
  }

