@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


:root{
    --primary-button : #1e90ff ;
    --secondary-buttton : #263238;
    --logo-blue : #085CFF;
    --link-color : #36D1DC;
    --illustration-color : #FF725E;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(85, 85, 82);
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;

}

/* ........................Header styles........................ */

header{
    display: block;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

header nav{
    padding: 20px 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
header nav img {
    width: 10rem;
}
header nav ul li{
    list-style: none;
    color: black;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: var(--link-color);
}
    
button{
    position: relative;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5  51%, #36D1DC  100%);
    transition: 0.5s;
    background-size: 200% auto;           
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 6rem;
    font-size: 1rem;
    padding: 7px 10px 7px 12px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    word-wrap: none;
  }

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

button i{
    color: #fff;
    position: absolute;
    font-size: 0.7rem;
    top: 55%;
    transform: translateY(-50%);
    right: 12%;
}
.btn:hover>i{
    right: 10%;
}






/* ..................................About Section.......................... */

section{
    display: block;
    height: 100vh;
    width: 85%;
    margin: 0 auto;
}
/*............................SECTION-1......................................*/
.sec-1 , .sec-2 , .sec-3 , .sec-4{
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
.sec-1{
    height: 90vh;
}

.left-box{
    grid-area: left;
    position: relative;
}
.left-box h1{
    display: block;
    width: 500px;
    height: 50%;
    margin: 100px 70px 0 70px;
    float: left;
    font-size: 3.7rem;
}
.sec-1 .left-box span {
    display: block;
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-250%);
}

.right-box{
    grid-area: right;
    position: relative;

}
.right-box img , .left-box img{
    height: 100%;
    width: 100%;
}





/*............................SECTION-2......................................*/


.sec-2{
    background-color: #FFB74D;
    position: relative;
}
.goal-1{
   position:absolute;
    top:5%;
    left: 10%;
    inline-size: 300px;
    overflow-wrap: break-word;
    
}
.goal-2{
    position:absolute;
    top:33%;
    left: 10%;
    inline-size: 300px;
    overflow-wrap: break-word;
}
.goal-3{
    position:absolute;
    bottom : 15%;
    left: 10%;
    inline-size: 300px;
    overflow-wrap: break-word;
}

.goal-img1{
    position: absolute;
    right: 10%;
    top:5%;
    height:70px;
    width:120px;
}

.goal-img2{
    position: absolute;
    right: 10%;
    top:40%;
    height:70px;
    width:120px;
}

.goal-img3{
    position: absolute;
    right: 10%;
    bottom : 15%;
    height:70px;
    width:120px;
}

/*...............................SECTION - 3 ..........................*/

.sec-3{
    height: 100vh;
}
.sec-3 .left-box{
    background-color: transparent;
}
.sec-3 .left-box h1{
    display: block;
    margin-top: 160px;
    width: 50%;
    height: auto;
    font-size: 3.7rem;
}
.sec-3 .left-box p{
    display: inline-block;
    width: 50%;
    margin: 40px auto 0px 70px;
    font-size: 1.3rem;
}
.sec-3 .left-box p span{
    color: #36D1DC;
}
.sec-3 .right-box{
    position: relative;
}
.sec-3 .right-box .brand-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 90%;
    height: 80%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sec-3 .right-box img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px 40px;
    
}


/*................................SECTION - 4 .......................................*/

.sec-4{
    height: 100vh;
}
.sec-4 .left-box img{
    display: block;
    height: 60%;
    width: 70%;
    margin: 0 auto;
}
.sec-4 .left-box h1{
    width: auto;
    height: auto;
}



/*...............................SECTION 5..............................*/

.sec-5{
    height: 80vh;
    background-color:#FFB74D;
}