@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap%27');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif;  */
    font-family: 'Outfit', sans-serif;

}
:root{
    --primary-blue : #1A73E8;
    --back-blue : #1a73e80c;
}
body{
    background-color: var(--back-blue);
}

a{
    text-decoration: none;
    color: inherit;
    display: inline;
}
.bnavigation{
    padding: 0px;
}
.navTab:hover{
    border-radius: 3rem;
    background-color:rgb(245, 245, 245);
}
 .active{
    border-radius: 3rem;
    background-color: #1a73e813;
}
.ignoreActive{
    background-color:transparent;
}
