.back-image{
    /* background-image: linear-gradient(to bottom, rgb(255, 255, 255) 10%,  #FFCA28 30% , #FF7043 45%); */
  background-image: url(".../Images/backgroung.png");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}